<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Student registration</title>
<link rel="stylesheet" type="text/css" href="view.css" media="all">
<script type="text/javascript" src="view.js"></script>

</head>
<body id="main_body" >
	
	<img id="top" src="top.png" alt="">
	<div id="form_container">
	
		<h1><a>Student registration</a></h1>
		<form id="form_9851" class="appnitro"  method="post" action="">
					<div class="form_description">
			<h2>Student registration</h2>
			<p>Contact : (+91)9236745674 or 
email : core_team@rvce.edu.in for details of merchandise or for sponsoring.</p>
		</div>
		<form method="POST">	
			{% csrf_token %}	
		<u1>			
			
			
					<li id="li_1" >
		<label class="description" for="element_1">Student_Name </label>
		<div>
			<input id="element_1" name="Student_name" required/> 
		</div> 
		</li>		<li id="li_2" >
		<label class="description" for="element_2">USN </label>
		<div>
			<input id="element_2" name="USN" required/> 
		</div> 
		</li>		<li id="li_3" >
		<label class="description" for="element_3">Email ID </label>
		<div>
			<input id="element_3" name="Email_id" required/> 
		</div> 
		</li>		<li id="li_4" >
		<label class="description" for="element_4">Phone number </label>
		<div>
			<input id="element_4" name="Phone_number" required/> 
		</div> 
		</li>		<li id="li_5" >
		<label class="description" for="element_5">Select Event </label>
		<div>
		<select class="element select medium" id="element_5" name="Event_name" required> 
			<option value="" selected="selected" ></option>
<option value="1" >Rapid fire</option>
<option value="2" >Mime</option>
<option value="3" >Neymar5</option>
<option value="4" >Dance compitition</option>
<option value="5" >Rap battle</option>
<option value="6" >IPL auction</option>

		</select> 
		</div> 
		</li>
			
					<li class="buttons">
			    <input type="hidden" name="form_id" value="9851" />
			    
				<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
		</li>
	
		
	</u1>
	{% if messages %}
	{% for message in messages %}
	<h2>{{message}}</h2>
	{% endfor %}
	{% endif %}
</form>	
	</div>
	
	</body>
</html>